/* feedback.css */
#content{
	color:#eee;
	margin-top:0;
	min-height:500px;
	padding-top:50px;
	text-align:center;
}
.topbtn{
	color: #fefefe;
	font-size: 20pt;
	margin: -1% 2%;
	position: fixed;
	transition:color .1s;
}
.topbtn:hover{
	color:#aaa;
	cursor:pointer;
}
h1{
	font-weight:300;
	margin: 0;
}
.p{
	display:inline-block;
	font-size:1.5pc;
	margin:0;
	width:40%;
}
.p p{
	text-align:justify;
}
.p label{
	display: block;
	min-height:30px;
	width:100%;
}
.p span{
	float:left;
	margin-top:20px;
}
.p input,.p select{
	float:right;
	margin-top:20px;
}
.p select{
	border:0;
	font-family:inset, Helvetica;
	font-size:90%;
	width:40%;
}
.p select:focus{
	ouline:0;
}
.p label.hidden{
	display:none;
}
.p textarea{
	min-height:200px;	
	width:100%;
}
#f-submit{
	background:#888;
	border:0;
	color:#eee;
	font-family:inset, Helvetica;
	font-size:1.3pc;
	height:30px;
	width:50%;
}
#f-submit:hover{
	background-color:#999;
	cursor:pointer;
}
#f-submit:active{
	background-color:#aaa;
}
#donation{
	position: relative;
	height: 100px;
	z-index: 102;
}
@media only screen and (max-width:700px) {
	.topbtn{
		position: absolute;
	}
	h1{
		margin-top:50px;
	}
	.p{
		width:90%;
	}
}