/* gen.css */

.lite{
	font-weight:normal;
}
 input,select{
	font-family:inset,Helvetica,Serif-sans;
	display:inline-block;
	max-width:40%;
	padding:0 10px;
	height:30px;
	font-size:25px;
	border:0;
	color:#eee;
	background-color:#888;
	cursor:pointer;
}
textarea{
	font-family:inset,Helvetica,Serif-sans;
	display:inline-block;
	max-width:100%;
	font-size:25px;
	border:0;
	color:#eee;
	background-color:#888;
	cursor:pointer;
}
.befhr{
	font-size: 111%;
	background: #555;
	top: 32px;
	padding: 5px;
	display: inline-block;
	position: relative;
}
.befhr + hr{
	margin-bottom: 35px;
}
body{
	margin:0;
	width:100%;
	min-height:500px;
	background-color:#fefefe;
	font-family:inset,Helvetica,Serif-sans;
	color:#333;
}
*:focus{
	outline:none;
}
*{
	-webkit-tap-highlight-color: #0086b3;
	box-sizing: content-box;
}
a{
	text-decoration:underline;
	color:inherit;
}
a:hover{
	text-decoration:none;
}
/* ---------------------------------------------------------------------------------------- */
/* ----------------------------------------------CONTENT--------------------------------- */
/* ---------------------------------------------------------------------------------------- */
#infow{
	display: block;
	position: fixed;
	min-width: 300px;
	min-height: 100px;
	background-color: #444;
	left: -400px;
	top: 69%;
	transition: left .3s, transform .3s;
	transform: rotateY(90deg);
	z-index: 5000;
}
#infow.active{
	left: 0;
	transform: rotateY(0deg);
}
#infow p{
	color: #eee;
	font-size: 21px;
	font-weight: normal;
	padding: 0 2%;
	text-align: center;
	height: 70%;
	display: block;
	position: relative;
}
.infobuttons{
	-webkit-user-select:none;
	max-height:30%;
	width:100%;
	background-color:transparent;
	border-top: 1px solid #4a4a4a;
}
.infobuttons:hover{
	border-top: 1px solid transparent;
}
div[class^="info-b"]{
	transition: background-color .1s;
	color: #eee;
	text-align: center;
	padding: 10px 0;
}
div[class^="info-b"]:hover{
	background-color:#4a4a4a;
	cursor: pointer;
}
div[class^="info-b"]:active{
	background-color:#2E7D32;
	cursor: default;
}
.info-b-1{
	width:100%;
}
.info-b-2-y{
	display: inline-block;
	width:50%;
}
.info-b-2-n{
	display: inline-block;
	width:50%;
}
.info-b-3-i,.info-b-4-i{
	display: inline-block;
	width: 56%;
	border: 0;
	height: 100%;
	position: relative;
	padding: 2%;
	background: #777;
	font-family: inherit;
	color: #eee;
	font-size: 21px;
}
.info-b-3-s,.info-b-4-s{
	display: inline-block;
	width:40%;
}
#background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
}
#background img{
	position:fixed;
	width: 100%;
}
#content{
	background-color:#555555;
	position:relative;
	margin-top:570px;
	font-family:inset,Helvetica,Serif-sens;
	z-index:1000;
}
#arrtop{
	position: fixed;
	height: 10%;
	top: 100%;
	width: 10%;
	left: 90%;
	cursor: pointer;
	background: #888;
	z-index: 1016;
	transition:top .3s,opacity .3s,background .2s;
	text-align: center;
	color: #eee;
	font-size: 3pc;
}
#arrtop.show:hover{
	background: #999;
}
#arrtop.show{
	top:90%;
	opacity:1;
}
#ajxprcs{
	position: fixed;
	height: 10%;
	top: 100%;
	width: 10%;
	left: 90%;
	cursor: pointer;
	background: #888;
	z-index: 1042;
	transition:opacity .1s;
	text-align: center;
	color: #eee;
	font-size: 2pc;
	line-height: 4pc;
}
#ajxprcs.show{
	top:90%;
	opacity:1;
}
#donation{
	display:block;
	text-align:center;
	margin-top:5%;
	position: relative;
	z-index: 102;
}
#donation img{
	width: 5%;
	margin-bottom: -7.5%;
	animation:beat 1.33s linear infinite;/* 1.0 - 1.66s */
	animation-play-state:running;
	-webkit-animation-play-state:running;
	-moz-animation-play-state:running;
	-o-animation-play-state:running;
}
#donation img:hover{
	cursor:pointer;
	animation-play-state:paused;
	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
}
@keyframes beat{
	0%,100% {width:5%;margin-bottom: 0.5%;}
	40% {width:5.5%;margin-bottom: 0.9%;}
}
/* -------------------------------------------------------------------------------------- */
/* ----------------------------------------------FOOTER-------------------------------- */
/* -------------------------------------------------------------------------------------- */
footer{
	position:absolute;
	width:100%;
	height:20%;
	padding-top:10%;
	left:0%;
	text-align:center;
	background-color:#333;
	z-index:101;
}
#footer-links{
	width: 70%;
	padding-left: 15%;
	text-align: center;
	margin-bottom: 2%;
}
#footer-links a{
	color: #eee;
	font-size: 1.2pc;
	margin: 0px 1%;
	text-decoration: none;
}
#footer-links a:hover{
	text-decoration:underline;
}
@font-face {
    font-family: inset;
    src: url(fonts/PFSquareSansPro-Light.ttf);
}
/* ---------------------------------- MOBILE SCREEN -------------------------- */
@media only screen and (max-width:700px) {
@keyframes beat{
	0%,100% {width:15%;margin-bottom: 0.5%;}
	40% {width:16%;margin-bottom: 0.9%;}
}
#background img{
	position:fixed;
	height: 100%;
	width:auto;
}
#arrtop{
	left:80%;
	width:20%;
}
#ajxprcs{
	left:80%;
	width:20%;
}
footer{
	width:100%;
	left:0%;
}
}
