/* style.php */
/* only for u.php */ 
/* ---------------------------------------------------------------------------------------- */
/* ----------------------------------------------CONTENT--------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ----- user info ----- */
#profile{
	display:inline-block;
	padding:0 5%;
	text-align:center;
	width:30%;
	z-index:1300;
}
#image img{
	border-radius: 5px;
	height:128px;
	margin-top:-64px;
}
#name{
	color:#aaa;
	font-size:30px;
	text-align:center;
}
#progress{
	float:right;
	display:inline-block;
	height:100px;
	padding-right:5%;
	text-align:right;
	width:55%;
}
#times{
	background-color: #2E7D32;
	border-radius: 50%;
	box-shadow: 2px 2px 2px rgba(64, 64, 64, 0.3);
	color: #eee;
	display: inline-block;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding-top: 0px;
	position: relative;
	margin-right: -12px;
	text-align: center;
	width: 40px;
	z-index: 110;
}
#progbar{
	background-color: #7B7B7B;
	display: inline-block;
	height: 30px;
	margin-top: 27px;
	position: relative;
	top: 10px;
	width: 80%;
	z-index: 100;
}
#progbar:before{
	background-color:#52bf37;
	content:'';
	display:block;
	height:100%;
	transition:width linear 1s;
	width:0%;
}
#addprogr{
	background-color: #317934;
	color: #eee;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	line-height: 27px;
	margin-left: -4px;
	text-align: center;
	position: relative;
	width: 30px;
}
/* ----- under buttons ----- */
#btbuttons{
	padding: 37px 0px 0px 10px;
}
.btbutton{
	background: #676767;
	cursor: pointer;
	display:inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 64px;
}
.btbutton:hover{
	background: #6e6e6e;
}
.btbutton:active{
	background: #777;
}
/*---------------------------------------- settings tab ---------------------------------------- */
.settings{
	padding-bottom:100px;
	padding-top:0px;
	text-align:center;
}
.settings h1{
	color: #eee;
	font-weight: 300;
	margin-bottom: 100px;
	margin-top: -40px;
}
#settlbl{
	color:#eee;
	font-size:1.7pc;
}
#settlbl input{
	margin-left:5px;
	
}
.settchckpass{
	background-color:#888;
	border:0;
	border-left:1px solid #555;
	color:#333;
	cursor:pointer;
	font-family:inset,Helvetica,Serif-sens;
	font-size:21px;
	display:inline-block;
	height:30px;
	padding:0 10px;
}
.settchckpass:hover{
	background-color:#999;
}
.settchckpass:active{
	background-color:#aaa;
	color:#eee;
}
.settinputs{
	color: #eee;
	font-size: 24px;
	padding: 3% 25%;
	padding-top:0;
	text-align:center;
}
.settinputs h1{
	color: #eee;
	font-size: 136.5%;
	font-weight: 300;
	margin-top: -40px;
}
.settinputs input{
	float:right;
	min-width:40%;
}
.settinputs label{
	display:block;
	margin-bottom:1%;
	margin-top:0;
	text-align:left;
}
.settinputs button{
	background-color: #888;
	border: 0;
	color: #eee;
	cursor: pointer;
	display: inline-block;
	font-family: inset,Helvetica,Serif-sens;
	font-size: 20px;
	min-width: 40%;
	height: 30px;
	padding: 1px 5px;
	margin-top:5%;
}
.settinputs button:hover{
	background-color: #777;
}
.settinputs button:active{
	background-color:#aaa;
}
#sett-aang{
	margin-top: 10%;
	text-align: right;
}
#sett-aang button{
	
}
#sett-aang small{
	font-size: 60%;
}
#sett-aang .img{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJ0lEQVQoU2N89+7dfwY0ICgoiC7EwDgUFP4HAnSXv3//HtMzQ0AhADRiNeQ5H806AAAAAElFTkSuQmCC);
	background-size: 17px;
	display: inline-block;
	float: left;
	height: 128px;
}
#sett-aang .img img{
	height:128px;
}
#sett-a-lab,#sett-b-lab{
	background-color: #888;
	display: inline-block;
	text-align: center;
	width: 40%;
}
#sett-a-lab:hover,#sett-b-lab:hover{
	background-color:#777;
	cursor:pointer;
}
#sett-bg{
	margin-top: 10%;
	text-align: right;
	overflow:hidden;
}
#sett-bg button:last-child{
	margin-bottom: 10%;
}
#sett-bg img{
	float: left;
	width:50%;
}
#sett-bg small{
	font-size: 60%;
}
/* ---------------------------------------- table tab ---------------------------------------- */
#table{
	color:#eee;
	font-size:20px;
	min-height:100px;
}
#table h1{
	color: #eee;
	font-size: 164.5%;
	font-weight: 300;
	margin-top: -40px;
	text-align: center;
}
.tr,.th{
	display:flex;
	height:40px;
}
.tr div,.th div{
	align-self:center;
	display: inline;
	max-height: 65%;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}
.tr div:nth-child(2),.th div:nth-child(1),.tr div:nth-child(4),.th div:nth-child(3){
	flex-basis:15%;
}
.tr div:nth-child(3),.tr div:nth-child(5),.th div:nth-child(2),.th div:nth-child(4){
	flex-basis:40%;
}
#table .tr:hover{
	background-color:#777;
}
#table .tr:active{
	background-color:#6a6a6a;
}
#table .s{
	text-align:left;
}
#table .th{
	background-color:#444;
	font-size: 115%;
	height: 48px;
	position:relative;
	top: 0;
	width: 100%;
	z-index:200;
}
#table .th:hover{
	background-color:#444;
}
/* ---------------------------------------- search ---------------------------------------- */
.search{
	text-align:center;
}
.search h1{
	color: #eee;
	font-size: 24.5pt;
	font-weight: 300;
	margin: 0;
	margin-top: -40px;
}
.search .srchinp{
	height: 40px;
	padding: 60px 0;
}
.srchinput{
	height: 100%;
	position: relative;
	top: 4px;
	width: 500px;
}
.srchbtn{
	background: #888;
	border: 0;
	color: #333;
	height: 38px;
	margin-left: 2px;
	width: 40px;
}
.srchbtn:hover{
	background-color:#999;
	cursor:pointer;
}
.srchbtn:active{
	background-color:#9e9e9e;
	color:#eee;
}
.search .srchtable{
	color:#eee;
}
.sth,.str{
	display:	flex;
}
.sth div,.str div{
	display:inline-block;
	align-self:center;
}
.sth div{
	background-color:#444;
	font-size: 17pt;
}
.str div{
	font-size: 15pt;
	max-height: 55px;
	overflow: hidden;
}
.sth div:nth-child(1),.str div:nth-child(1){
	flex-basis:15%;
}
.sth div:nth-child(2),.str div:nth-child(2){
	flex-basis:85%;
}
.tr div:nth-child(2),.th div:nth-child(1),.tr div:nth-child(4),.th div:nth-child(3){
	flex-basis:15%;
}
span.hl{
	background-color:#ffeb3b;
	color:#333;
	padding:0 2px;
}
.ctr:hover{
	background-color:#777;
	cursor:pointer;
}
.ctr:active{
	background-color:#7a7a7a;
}
/* ---------------------------------------- win and top panel ---------------------------------------- */
#toppanel.active{
	top:0px;
}
#toppanel{
	background-color: #444;
	height: 50px;
	left: 0;
	position: fixed;
	top: -50px;
	transition:top .1s .1s;
	width: 100%;
	z-index: 1600;
}
#win.active{
	top:50px;
	transform:rotateY(0deg);
	opacity: 1;
}
#win{
	background-color: #777;
	padding-top:20px;
	position: fixed;
	height: 0px;
	left: 0;
	top: -100%;
	transform:rotateY(40deg);
	transition: top .3s ,transform .2s .1s,opacity .2s .1s;
	opacity: 0;
	overflow-x: hidden;
	overflow-y:auto;
	width: 100%;
	z-index: 1550;
}
#wspan{
	height:0px;
	width:100%;
}
#win.open,#toppanel.open{
	display:block;
}
#wdatel,#wpass,#wnuml{
	display: inline-block;
	padding-left:10%;
	/* text-align: center; */
	color: #eee;
	font-family: inset;
	font-size: 30px;
	width: 29%;
}
#wchl,#wtagsl{
	display: inline-block;
	color: #eee;
	font-size: 30px;
	font-family: inset;
	padding-left:10%;
	padding-top:30px;
	width: 99%;
}
#wdescl{
	color: #eee;
	display: inline-block;
	font-family: inset;
	font-size: 30px;
	padding-left:10%;
	padding-top:30px;
	width: 99%;
}
#win input{
	background-color:#888;
	border:0;
	color:#eee;
	cursor:pointer;
	font-family:inset,Helvetica,Serif-sens;
	font-size:25px;
	display:inline-block;
	height:30px;
	padding:0 10px;
	max-width:40%;
}
#wchl input,#wtagsl input{
	cursor:pointer;
	width:60%;
}
#win textarea{
	background-color:#888;
	border:0;
	color:#eee;
	cursor:pointer;
	display:inline-block;
	font-family:inset,Helvetica,Serif-sens;
	font-size:25px;
	height:30px;
	min-height:290px;
	max-height:1000px;
	padding:0 10px;
	resize:vertical;
	width:80%;
}
#win textarea:read-only,#win input:read-only{
	cursor:default;
}
#topdelite,#topadd,#topedit,#topback,#topsave{
	color: #eee;
	display:inline-block;
	font-family: inset;
	font-size: 22px;
	height:40px;
	min-width:100px;
	max-width:150px;
	padding-top:10px;
	text-align:center;
}	
#topback{
	padding-right:10px;
}
#topdelite,#topadd,#topedit,#topsave{
	float:right;
	max-width:100px;
	min-width:50px;
}
#toppanel div:hover{
	background-color:#555;
	cursor:pointer;
}
#toppanel div:active{
	background-color:#4CAF50;
}

/* -------------------------------------------------------------------------------------- */
/* ----------------------------------------------FOOTER-------------------------------- */
/* -------------------------------------------------------------------------------------- */
/* ----- footer in gen.css ----- */
/* ---------------------------------- MOBILE SCREEN -------------------------- */
@media only screen and (max-width:700px) {
#profile{
	display:block;
	padding:0 5%;
	text-align:center;
	width:90%;
	z-index:1300;
}
#progress{
	display:block;
	float:right;
	height:100px;
	padding-right:5%;
	text-align:right;
	width:100%;
}
.tr div:nth-child(2),.th div:nth-child(1){
	flex-basis:25%;
}
.tr div:nth-child(4),.th div:nth-child(3){
	flex-basis:19%;
}
.settinputs{
	padding: 3% 3%;
}
.settings h1,.settinputs h1,.search h1,#table h1 {
	margin-top: 20px;
}
.search{
	padding-bottom:160px;
}
.srchinput{
	max-width: 70%;
}
#wdatel,#wnuml,#wpass{
	display:inline-block;
	width:90%;
}
#wspan{
	min-height:400px;
	width:100%;
}
#sett-bg{
	overflow:visible;
}
#arrtop{
	left:80%;
	width:20%;
}
#ajxprcs{
	left:80%;
	width:20%;
}
footer{
	left:0%;
	width:100%;
}
}
/* ------------------------------- SPETIAL SIZE ---------------------------------*/
@media only screen and (max-width:Xpx) {
}